**

!Dockerfile
!.npmrc
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!vite.config.ts
!postcss.config.mjs
!cloudflare-env.d.ts
!components.json

!.openai/
!.openai/hosting.json
!app/
!app/**
!build/
!build/**
!components/
!components/**
!db/
!db/**
!drizzle/
!drizzle/**
!hooks/
!hooks/**
!lib/
!lib/**
!public/
!public/**
!scripts/
!scripts/**
!vendor/
!vendor/**
